/*  FruityFoody */

body {
    background-image: url("../img/whitewashwood.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

body > div.container,
body > header {
    font-family: "Merriweather",Georgia,Cambria,"Times New Roman",Times,serif;
}

#top {
    height: 90px;
}

#top .title {
    text-align: center;
    padding: 10px;
}

h1 {
    color:#372F24;
    font-family: 'Berkshire Swash', cursive;
}

.navbar {
    font-family: 'Berkshire Swash', cursive;
    font-size: 22px;
    border: 1px solid #d3d3d3;
}

.dropdown-menu>li>a,
.navbar-default .navbar-nav>li>a{
    color: #655949;
}

.panel .image-head {
    overflow: hidden;
    margin-left: -27px;
    margin-right: -27px;
    border-radius: 4px 4px 0 0;
    max-height: 250px;
}

.panel.muut {
    background-color: rgba(255, 255, 255, 0.5);
}

.panel.muut .m-reply{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px;
}

.panel.muut #moot-logo {
    padding: 20px 0px 0px;
}

.category-body .panel .image-head img {
    width: 100%;
}


/* bootstrap 3 helpers */

.navbar-form input, .form-inline input {
	width:auto;
}

/* end */

/* custom theme */

header {
  	margin-bottom:5px;
}
/*
@media (min-width: 979px) {
  #sidebar.affix-top {
      position: static;
  }
  
  #sidebar.affix {
      position: fixed;
      top: 0;
      width:21.2%;
  }
}
*/
@media (min-width: 768px) {
    #sidebar.affix {
        position: fixed;
        top: 0;
        width: 720px;
    }
    #sidebar.affix > ul,
    #sidebar.affix > div {
        width: 25%;
        padding-right: 22px;
    }
}
@media (min-width: 992px) {
    #sidebar.affix {
        width: 940px;
    }
}
@media (min-width: 1200px) {
    #sidebar.affix {
        width: 1140px;
    }
}

.affix,.affix-top {
   position:static;
}

/* theme */

body {
  color:#525252;
  background-color:#eee;
}

a,a:hover {
	color:#655949;
  	text-decoration:none;
}

.highlight-bk {
	background-color:#655949;
    padding:1px;
    width:100%;
}

.highlight {
	color:#655949;
}
  
h3.highlight  {
	padding-top:13px;
    padding-bottom:14px;
  	border-bottom:2px solid #655949;
}

.navbar {
	background-color: #ffffff;
  	color: #372F24;
    border:0;
  	border-radius:0;
}
.navbar-nav > li {
    padding: 5px;
}
.navbar-nav > li > a {
  	padding-left:3px;
  	padding-right:3px;
}
@media (min-width: 992px) {
    .navbar-nav > li > a {
        padding-left:5px;
        padding-right:5px;
    }
}
@media (min-width: 1200px) {
    .navbar-nav > li > a {
        padding-left:15px;
        padding-right:15px;
    }
}
.navbar-nav > li > a > i {
    padding-right: 2px;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#372F24;
}
.navbar-nav > li:last-child > a {
    border-left: 1px solid #E6E6E6;
    padding-left: 15px;
}
.navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
	background-color:transparent;
}
.navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
	color: #f0f0f0;
	background-color:transparent;
  	opacity:.9;
    border-color: #D3C9C7;
}

.nav .open > a {
    border-color:#777777;
    border-width:0;
}

.accordion-group {
	border-width:0;
}

.dropdown-menu {
	min-width: 170px;
}

.accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
	padding-left:1px;
}

.caret {
	color:#fff;
}

.navbar-toggle {
	color:#fff;
    border-width:0;
}
  
.navbar-toggle:hover {
	background-color:#fff;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

.panel {
	padding-left:27px;
    padding-right:27px;
    border: 1px solid #d3d3d3;
}

/* end theme */

/* slider */
.slider-container{
    width: 1140px;
    position: relative;
    padding: 0;
    margin: 0;
    overflow:hidden;
    height: 380px;
    background-color: white;
    margin-bottom: 15px;
}
.slider{
    width: 1160px;
    padding: 0px 0px 0px 760px;
    overflow-y: scroll;
    height: 380px;
}
.slider>a{
    display: inline-block;
    position: absolute;
    left: 0px; top: 0px;
    transition: all 0.5s;
    margin: 0;
    height: 380px;
    width: 760px;
    overflow: hidden;
    text-align: center;
}
.slider>a>.image-wrap{
    position: relative;
    right: -50%;
    display: inline-block;
    height: 100%;
    bottom: -50%;
}
.slider>a>span.info{
    position: absolute;
    display: block;
    bottom: 0;
    color: #eee;
    margin: 20px;
}
.slider>a>span.info .title{
    font-size: 26px;
    text-decoration: underline;
    text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}
/*transitions*/
.slider .image-wrap img {
    position: relative;
    left: -50%;
    top: -100%;
}
.slider input[name='slide_switch'] {
    display: none;
}
.slider label {
    width: 379px;
    display: table;
    padding: 5px;
    margin: 0;
    border: 0;
    cursor: pointer;
    height: 100px;
    min-height: 100px;
}
.slider label:hover {
    background-color: #eee;
}
.slider label span{
    display: inline-block;
}
.slider label span.image{
    width: 150px;
    background-size: cover;
    background-position: center center;
    display: table-cell;
}
.slider label span.info{
    width: 209px;
    padding-left: 10px;
    display: table-cell;
}
.slider label span.info span.meta i {
    vertical-align: middle;
    font-size: 24px;
}
.slider label span.info span.meta span {
    padding-right: 5px;
}

/*click effects*/
.slider input[name='slide_switch']:checked+label {
    background-color: #666;
    color: #eee;
}
.slider input[name='slide_switch'] ~ a {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.9);
    transition: all, 200ms;
}
.slider input[name='slide_switch']:checked+label+a {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: all, 200ms;
}
@media (min-width: 768px) {
    .slider-container {
        width: 720px;
    }
    .slider{
        width: 960px;
        padding: 0px 0px 0px 555px;
    }
    .slider>a{
        width: 555px;
    }
    .slider label {
        width: 379px;
    }
}
@media (min-width: 992px) {
    .slider-container {
        width: 940px;
    }
    .slider{
        width: 960px;
        padding: 0px 0px 0px 560px;
    }
    .slider>a{
        width: 560px;
    }
    .slider label {
        width: 379px;
    }
}
@media (min-width: 1200px) {
    .slider-container {
        width: 1140px;
    }
    .slider{
        width: 1160px;
        padding: 0px 0px 0px 760px;
    }
    .slider>a{
        width: 760px;
    }
    .slider label {
        width: 379px;
    }
}
