---
layout: default
---

<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col col-sm-12 hidden-xs">
                <div class="slider-container panel">
                    <div class="slider vertical">
                    {% assign count = 0 %}
                    {% for post in site.posts %}

                    {% if post.tags contains 'slideshow' %}
                        {% assign count = count | plus:'1' %}
                        {% if count <= 5 %}
                        <input type="radio" name="slide_switch" id="id{{ count }}" {% if count == 1 %}checked="checked"{% endif %}/>
                        <label for="id{{ count }}">
                            <span class="image" style="background-image: url('{{ post.imagehead }}')"></span>
                            <span class="info">
                                <span class="title">{{ post.title }}</span><br/><br/>
                                <span class="meta">
                                {% if post.category == 'ontbijt' %}
                                    <span class="course"><i class="mdi mdi-silverware-spoon"></i></span>
                                {% elsif post.category == 'lunch'%}
                                    <span class="course"><i class="mdi mdi-silverware-fork"></i></span>
                                {% elsif post.category == 'diner'%}
                                    <span class="course"><i class="mdi mdi-silverware-variant"></i></span>
                                {% elsif post.category == 'tussendoor'%}
                                    <span class="course"><i class="mdi mdi-carrot"></i></span>
                                {% elsif post.category == 'snelklaar'%}
                                    <span class="course"><i class="mdi mdi-clock-fast"></i></span>
                                {% endif %}
                                {% if post.category == 'snelklaar'%}
                                    <span class="kind"><i class="mdi mdi-cow"></i></span>
                                {% endif %}
                            {% if post.type %}
                                {% if post.type == 'gevogelte'%}
                                    <span class="kind"><i class="mdi mdi-duck"></i></span>
                                {% elsif post.type == 'vegetarisch'%}
                                    <span class="course"><i class="mdi mdi-leaf"></i></span>
                                {% elsif post.type == 'vis'%}
                                    <span class="course"><i class="mdi mdi-fish"></i></span>
                                {% elsif post.type == 'vlees'%}
                                    <span class="course"><i class="mdi mdi-cow"></i></span>
                                {% endif %}
                            {% endif %}
                                {% if post.time %}
                                    <span class="time"><i class="mdi mdi-alarm"></i> {{ post.time }}</span>
                                {% endif %}
                                </span>
                            </span>
                        </label>
                        <a href="{{ post.url }}">
                            <span class="image-wrap">
                                <img src="{{ post.imagehead }}"/>
                            </span>
                            <span class="info">
                                <span class="title">{{ post.title }}</span>
                            </span>
                        </a>
                        {% endif %}
                    {% endif %}
                    
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Begin Body -->
<div class="container">
	<div class="row">
        <div class="col col-sm-8 col-md-9 category-body">


            <div class="row">


                {% assign recipes = "one|two" | split: "|" %}
                
                {% for post in site.posts %}
                    {% if post.category != 'artikelen' %}
                        {% assign recipes = recipes | push: post %}
                    {% endif %}
                {% endfor %}
                
                {% assign recipes = recipes | pop: 2 %}
                {% for post in recipes %}
                    {{ post.category }} - {{ post.title }} <br>
                {% endfor %}
                
                
                <div class="col col-md-6">
                    <div class="panel">
                        <div class="image-head">
                            <img src="img/pasta.jpg">
                        </div>
                        <h3>Maaltijd 1</h3>
                        <p>
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </p>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="panel">
                        <h3>Maaltijd 2</h3>
                        <p>
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </p>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="col col-xs-12">
                    <div class="panel">
                        <h3>Maaltijd 1</h3>
                        <p>
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </p>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col col-md-6">
                    <div class="panel">
                        <h3>Maaltijd 1</h3>
                        <p>
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </p>
                    </div>
                </div>
                <div class="col col-md-6">
                    <div class="panel">
                        <h3>Maaltijd 2</h3>
                        <p>
                            Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores
                            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,
                            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                        </p>
                    </div>
                </div>
            </div>


      	</div>

        <div class="col col-sm-4 col-md-3">
            <div id="sidebar">
                <ul class="nav nav-stacked">
                    <li><h3 class="highlight">Channels <i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                Accordion
                            </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>There is a lot to be said about RWD.</p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                Accordion
                            </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <p>Use @media queries or utility classes to customize responsiveness.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>