{% assign page_url = page.url | downcase %}
{% assign current = page_url | split: '/' %}

{% assign muut_paths = "1,2" | split: "," %}
{% assign muut_pages_json = "1,2" | split: "," %}
{% for post in site.posts %}
    {% unless post.categories contains 'artikelen' %}
        {% capture muut_path %}/{{site.muut_forum}}/comments/{{ post.id | replace_first: '/','' | split: '/' | pop | join: '' }}:{{ post.id | split: '/' | last }}{% endcapture %}
        {% assign muut_paths = muut_paths | push: muut_path %}
        {% capture muut_json %}{ url:"{{post.url}}", title:"{{post.title}}", muutPath:"{{muut_path}}" }{% endcapture %}
        {% assign muut_pages_json = muut_pages_json | push: muut_json %}
    {% endunless %}
{% endfor %}
{% assign muut_paths = muut_paths | shift: 2 %}
{% assign muut_pages_json = muut_pages_json | shift: 2 %}

<div id="footer">
    <div class="footer">{{ page | json }}</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

{% if page.layout == 'home-page-tiled' %}
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.wookmark/2.1.2/wookmark.min.js"></script>
<script>
    $('#category-tiled').wookmark({
        align: 'center',
        autoResize: true,
        container: $('.category-body'),
        direction: 'left',
        itemWidth : '50%',
        fillEmptySpace: false,
        flexibleWidth: true,
        offset: 2
    }});
</script>
{% endif %}

<script>
    var url = "//api.muut.com/postcounts?path={{muut_paths | join: '&path='}}",
        containerEl = $('#most-commented'),
        pageData = [{% for json in muut_pages_json %}
            {{ json }}{% if forloop.last == false %},{% endif %}{% endfor %}
        ],
        pages = {};
    $.each(pageData, function(key, val) {
        pages[val.muutPath] = val;
    });

    $.getJSON(url, function(json) {
        var results = [];
        $.each(json, function(key, val) {
            results.push({"path": key, "size": val['size']});
        });
        results.sort(function (a,b) {
            if (a.size < b.size)
                return 1;
            if (a.size > b.size)
                return -1;
            return 0;
        });
        $.each(results, function(key, val) {
            containerEl.append('<li><a href="' + pages[val.path].url + '">' + pages[val.path].title + '</a></li>');
            return key < 9;
        });
    });
</script>
{% if page_url == '/index.html' or page_url == '/' %}
<!-- homepage -->
<script>
$(document).ready(function(){
    $('#sidebar').affix({
      offset: {
        top: 570
      }
    });
});
</script>
{% else %}
<!-- nothome -->
<script>
$(document).ready(function(){
    $('#sidebar').affix({
      offset: {
        top: 170
      }
    });
});
</script>
{% endif %}

{% if current[1] == 'ontbijt' or current[1] == 'lunch' or current[1] == 'diner' or current[1] == 'tussendoor' or current[1] == 'snelklaar'%}
<!-- recipe -->
<script src="//cdn.muut.com/1/moot.nl.min.js"></script>
{% endif %}