{% assign page_url = page.url | downcase %}
{% assign current = page_url | split: '/' %}
<div id="footer">
    <div class="footer"></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
{% if page_url == '/index.html' %}
<!-- homepage -->
{% elsif current[1] == 'ontbijt' or current[1] == 'lunch' or current[1] == 'diner' or current[1] == 'tussendoor' or current[1] == 'snelklaar'%}
<!-- recipe -->
<script src="//cdn.muut.com/1/moot.nl.min.js"></script>
{% endif %}