<head>
	<meta charset="utf-8">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="{{ site.description }}">
    
    {% if page.summary %}
        <meta property="og:description" content="{{ page.summary }}" />
    {% endif %}
    {% if page.slideshowimage or page.imagehead %}
        {% if page.slideshowimage %}
            <meta property="og:image" content="http://{{ site.image_uri_prefix }}{{ page.slideshowimage }}" />
        {% else %}
            <meta property="og:image" content="http://{{ site.image_uri_prefix }}{{ page.imagehead }}" />
        {% endif %}
        <meta property="og:description" content="{{ page.summary }}" />
    {% endif %}
    
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.materialdesignicons.com/1.2.65/css/materialdesignicons.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Berkshire+Swash' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//cdn.muut.com/1/moot.css" type="text/css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ '/css/style.css?v=1' }}" type="text/css">
</head>