---
layout: page
---
<div class="col col-sm-8 col-md-9 post-body">
    <div class="panel">
    {% if page.imagehead %}
        <div class="image-head">
            <img 
            style="{% if page.imagehead_margintop %}margin-top: {{page.imagehead_margintop-top}};{% endif %}"
            src="{{ site.image_uri_prefix }}{{page.imagehead}}"
            />
        </div>
    {% endif %}
        {{ content }}
    </div>
    
    <div class="panel muut">
        <a class="muut" href="https://muut.com/i/fruityfoody/comments/{{ page.id | replace_first: '/','' | split: '/' | pop | join: '_' }}:{{ page.id | split: '/' | last }}">fruityfoody forum</a>
    </div>
</div>

<div class="col col-sm-4 col-md-3">
    <div id="sidebar">
        {% include top-posts.html %}
    </div>
</div>